<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=search"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />

    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/product.css" />
  </head>
  <body>
    <header class="site-header">
      <div class="inside-header">
        <div class="header wrap__content">
          <div class="header-top">
            <div class="cell-1">
              <div class="logo">
                <a href="">
                  <img
                    src="https://scontent.fsgn5-6.fna.fbcdn.net/v/t39.30808-6/515281674_122114421290911663_1479972533960194437_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeHg2rImvNdqf3VlYOYwN5q4AM7IFBz4L1YAzsgUHPgvVr4tzqpK2Ukc87Gtb4-zXH8PW8VO4sAaM5c1XsVYeYXX&_nc_ohc=XTrlkuYM6JUQ7kNvwEYD9fe&_nc_oc=Adm6mVmEFzh13FaZLBsdHBvSrU2HrgvOy5-K1sCtsuJoDx-j_B89hy5eOv0tTbRuOY4&_nc_zt=23&_nc_ht=scontent.fsgn5-6.fna&_nc_gid=tUTQcCwna4_9mvmMpZXvIA&oh=00_AfQNYPUyFrqiq_h97AwQkV_01cK6m4YNsZRQqqyDXIoatw&oe=686F3680"
                    alt=""
                    srcset=""
                  />
                </a>
              </div>
              <div class="search">
                <div class="search-box">
                  <input type="text" placeholder="Tìm kiếm..." />
                  <button>
                    <span class="material-symbols-outlined"> search </span>
                  </button>
                </div>
              </div>
            </div>
            <div class="cell-2">
              <div class="contact">
                <span><strong>📞Tư vấn: 038.796.4768</strong></span>
                <div class="socials">
                  <span> <strong>Liên hệ với chúng tôi: </strong></span>
                  <div class="socials-icon">
                    <a href="#">🌐</a>
                    <a href="#">📘</a>
                    <a href="#">📸</a>
                    <a href="#">🎵</a>
                  </div>
                </div>
              </div>
              <button class="cart-btn">🛒 Giỏ hàng</button>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="bottom-header">
        <div class="header wrap__content">
          <div class="bottom-header-container">
            <nav class="nav-links">
              <a href="#">Giới thiệu</a>
              <a href="#">Bảo hành</a>
              <a href="#">Hợp tác</a>
              <a href="#">Vận chuyển</a>
            </nav>
          </div>
        </div>
      </div>
      <hr />
    </header>
    <section>
      <!-- menu respon -->
    </section>
    <section>
      <!-- ========== MAIN CONTAINER ========== -->
      <div class="main wrap__content">
        <div class="main-container">
          <!-- ========== SIDEBAR ========== -->
          <aside class="sidebar">
            <div class="sidebar-title toggle-sidebar">
              <div class="title-sidebar">
                <i class="fa fa-bars"></i>
                DANH MỤC SẢN PHẨM
              </div>
              <i class="fa-sharp fa-solid fa-chevron-right"></i>
            </div>
            <ul class="category-list">
              <li>🪑 Nội thất</li>
              <li>🏷️ Sản phẩm khuyến mãi</li>
              <li>🔥 Bếp điện từ</li>
              <li>🔐 Khóa điện tử</li>
              <li>🛠️ Phụ kiện tủ bếp</li>
              <li>🧊 Tủ lạnh</li>
              <li>💨 Máy sấy chén bát</li>
              <li>🚿 Máy rửa chén bát</li>
              <li>🌬️ Máy hút mùi</li>
              <li>🤖 Robot lau nhà</li>
            </ul>
          </aside>
          <!-- Banner -->
          <div class="banner-top">
            <a href=""
              ><img
                src="https://noithattangiabang.com/wp-content/uploads/2022/08/TAN-GIA-BANG-DOWNLOAD-POSTER-CAFE-MIEN-PHI-848x480.jpg"
                alt=""
                srcset=""
            /></a>
          </div>
        </div>
      </div>
    </section>
    <section>
      <!-- Sản phẩm -->
      <main class="product-container">
        <section id="productList" class="product-grid">
          <!-- Sản phẩm sẽ được render tại đây -->
        </section>
      </main>
    </section>
    <footer></footer>
    <script src="/js/home.js"></script>
    <script src="/js/renderProductsBuyStyle.js"></script>
  </body>
</html>
